<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head th:replace="fragment :: html_file" />
<body style="background-color: #f5f7f6;">

   <div th:replace="fragment :: header"></div>

    <div class="container-fluid w-100 m-0">
        <div class="row w-100">
            <div class="col-md-3">
               <aside th:replace="fragment :: sidebar"></aside>

                <!--end side bar-->
            </div>
            <div class="col-md-9">
                <!--Body table student-->
               <main class="main-content border-radius-lg">
                    <div class="card mt-3">
                        <button data-bs-toggle="modal" data-bs-target="#addCourse" type="button"
                            class="btn btn-primary mt-3 mx-3" style="width: 15%;">Thêm lớp học</button>
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                        <tr>
                                            <th 
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                                ID lớp học</th>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                 <a th:if="${sortDir eq 'asc'}" th:href="@{'/course/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir} + '&keyword='+ ${keyword}}"><i class="fa-solid fa-arrow-up"></i></a>
                                                  <a th:if="${sortDir eq 'desc'}" th:href="@{'/course/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir} + '&keyword='+ ${keyword}}"><i class="fa-solid fa-arrow-down"></i></a>
                                                Tên lớp học</th>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Tên giảng viên</th>
                                            <th
                                                class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                                Năm</th>
                                            <th class="text-secondary opacity-7"></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr th:each="course : ${listCourse}">
                                            <td>
                                                <div class="d-flex px-4 py-1">
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm" th:text="${course.id}"></h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0" th:text="${course.name}">Mạng máy tính</p>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0" th:text="${course.lecture}">Nguyễn Hà Minh</p>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0" th:text="${course.year}" >2021
                                                </p>
                                            </td>
                                            <td class="align-middle">
                                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                                    data-toggle="tooltip" data-bs-toggle="modal"  th:attr="data-id=${course.id}"
                                                    data-bs-target="#detailCourse">
                                                    Chi tiết
                                                </a>
                                                &nbsp;
                                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                                    data-toggle="tooltip" data-bs-toggle="modal" th:attr="data-id=${course.id}"
                                                    data-bs-target="#deleteCourse">
                                                    Xóa
                                                </a>
                                                &nbsp;
                                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                                    data-toggle="tooltip" data-bs-toggle="modal" th:attr="data-id=${course.id}"
                                                    data-bs-target="#editCourse">
                                                    Sửa
                                                </a>

                                                &nbsp;
                                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                                    data-toggle="tooltip" data-bs-toggle="modal" th:attr="data-id=${course.id}"
                                                    data-bs-target="#listStudent">
                                                    DS sinh viên
                                                </a>
                                                &nbsp;
                                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                                    data-toggle="tooltip" data-bs-toggle="modal" th:attr="data-id=${course.id}"
                                                    data-bs-target="#insertStudent">
                                                    Thêm sinh viên
                                                </a>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                                <nav aria-label="..." style="margin: 2% 0 0 1%;" th:if="${totalPages > 1}">
                                    <ul class="pagination">
                                        <li class="page-item disabled">
                                            <span th:unless="${currentPage > 1}" class="page-link">Previous</span>
                                        </li>
                                        <li th:if="${currentPage > 1}"  class="page-item"><a class="page-link" th:href="@{'/course/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + '&keyword='+ ${keyword}}">Previous</a></li>
                                        
                                        <div th:each="i: ${#numbers.sequence(1, totalPages)}">
			                            <li th:if="${currentPage != i}" class="page-item"><a th:href="@{'/course/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword='+ ${keyword}}" class="page-link" href="#">[[${i}]]</a></li>
                                        <li th:unless="${currentPage != i}" class="page-item active" aria-current="page">
                                            <span class="page-link">[[${i}]]</span>
                                        </li>
		    
                                        </div>
                                        <li class="page-item disabled">
                                            <span th:unless="${currentPage < totalPages}" class="page-link">Next</span>
                                        </li>
                                        <li th:if="${currentPage < totalPages}" class="page-item"><a class="page-link" th:href="@{'/course/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&keyword='+ ${keyword}}">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>

   
     <div class="modal fade" id="addCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thêm lớp học</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/course" method="post" th:object="${course}">
                    <div class="modal-body">
                        <div class="col-auto">
                            <label>Tên lớp học</label>
                            <input type="text" th:field = "*{name}" class="form-control" name="name" required="required" placeholder="Nhập tên lớp học">
                        </div>
                        <hr>
                        <div class="col-auto">
                            <label>Tên giảng viên</label>
                            <input type="text" class="form-control" th:field = "*{lecture}" name="lecture" required="required" placeholder="Nhập tên giảng viên">
                        </div>
                        <hr>
                        <div class="col-auto">
                            <label>Năm</label>
                            <input type="number" class="form-control" th:field = "*{year}" name="year" required="required" min="1900" th:max="${year}" placeholder="Nhập năm học">
                        </div>
                        <hr>
                        <div class="col-auto">
                            <label>Ghi chú</label><br>
                            <textarea class="content" style="width: 460px" name="notes" th:field = "*{notes}"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button id="addBtn" type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Modal dialog detail student-->
    <div class="modal fade" id="detailCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết lớp học</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="col-auto">
                        <label>Tên lớp học</label>
                        <p id = "detailName">Mạng máy tính</p>
                    </div>
                    <hr>
                    <div class="col-auto">
                        <label>Gỉang viên</label>
                        <p id="detailLecture">Nguyễn Hà Minh</p>
                    </div>
                    <hr>
                    <div class="col-auto">
                        <label>Năm</label>
                        <p id="detailYear">2021</p>
                    </div>
                    <hr>
                    <div class="col-auto">
                        <label>Ghi chú</label>
                        <p id = "detailNote">None</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal dialog delete student-->
    <div class="modal fade" id="deleteCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xóa lớp học</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa lớp học?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button id="buttonDelete" type="button" class="btn btn-primary">Xóa</button>
                </div>
            </div>
        </div>
    </div>


    <!--Modal dialog update Course-->
    <div class="modal fade" id="editCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cập nhật thông tin lớp học</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="formUpdate">
                    <div class="modal-body">
                        <div class="col-auto">
                            <label>ID</label>
                            <input type="text" value="1" name="id" id="updateId" readonly>
                        </div>
                        <hr>
                        <div class="col-auto">
                            <label>Tên lớp học</label>
                            <input type="text" class="form-control" value="Mạng máy tính" required="required" id="updateName" name="name"
                                placeholder="Nhập tên lớp học">
                        </div>
                        <hr>
                        <div class="col-auto">
                            <label>Tên giảng viên</label>
                            <input type="text" class="form-control" value="Nguyễn Hà Minh" required="required" id="updateLecture" name="lecture"
                                placeholder="Nhập tên giảng viên">
                        </div>
                        <hr>
                        <div class="col-auto">
                            <label>Năm</label>
                            <input type="number" class="form-control" value="2021" required="required" min="1900" th:max="${year}" id="updateYear" name="year"
                                placeholder="Nhập năm">
                        </div>
                        <hr>
                        <div class="col-auto">
                            <label>Ghi chú</label><br>
                            <textarea class="content"  style="width: 460px" id="updateNote" name="notes"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button id="updateBtn" type="submit" class="btn btn-primary">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Modal dialog list student-->
    <div class="modal fade modal-lg" id="listStudent" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Danh sách sinh viên của lớp học</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Họ và tên</th>
                                <th scope="col">Ngày sinh</th>
                                <th scope="col">Địa chỉ</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody id="listStudentEroll">
                            

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-lg" id="insertStudent" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Danh sách sinh viên cần thêm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Họ và tên</th>
                                <th scope="col">Ngày sinh</th>
                                <th scope="col">Địa chỉ</th>
                                <th scope="col">Thêm vào lớp</th>
                            </tr>
                        </thead>
                        <tbody id = "lsStudentsNotInCourse">
                            <tr>
                                <th scope="row">1</th>
                                <td>Lê Minh Hoàng</td>
                                <td>29-01-2003</td>
                                <td>Diên Lạc, Diên Khánh, Khánh Hòa</td>
                                <td>
                                    <input type="checkbox" value="1" name="id[]">
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button id="buttonInsert" class="btn btn-primary">Thêm</button>
                </div>
            </div>
        </div>
    </div>


  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
<script type="text/javascript">
    var detailName = document.getElementById("detailName");
    var detailLecture = document.getElementById("detailLecture");
    var detailYear = document.getElementById("detailYear");
    var detailNotes = document.getElementById("detailNote");
    
    var updateName = document.getElementById("updateName");
    var updateLecture = document.getElementById("updateLecture");
    var updateYear = document.getElementById("updateYear");
    var updateNotes = document.getElementById("updateNote");
    
    var listStudentEroll = document.getElementById("listStudentEroll");
    var lsStudentsNotInCourse = document.getElementById("lsStudentsNotInCourse")
    
    
    var buttonDelete = document.getElementById("buttonDelete");
    var buttonInsert = document.getElementById("buttonInsert");
    var idCourseDelete;
    var idCourseInsert;
    
    // Show detail Student
    $('#detailCourse').on('show.bs.modal', async function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id')

        $.get(`/api/course/${id}`, function (responseJson) {
        console.log(responseJson);
        detailName.innerText = responseJson.name;
        detailLecture.innerText = responseJson.lecture;
        detailYear.innerText = responseJson.year;
        detailNotes.innerText = responseJson.notes;
        }).fail(function () {
            alert("FAIL")
        }
        );
    });
    
       
      
    
    
      // Show detail course when edit
     $('#editCourse').on('show.bs.modal', async function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id')

        $.get(`/api/course/${id}`, function (responseJson) {
        //console.log(responseJson);
        updateId.value = responseJson.id;
        updateName.value = responseJson.name;
        updateYear.value = responseJson.year;
        updateLecture.value = responseJson.lecture;
        updateNotes.value = responseJson.notes;
        }).fail(function () {
            alert("FAIL")
        }
        );
    })
    
    // edit course
    const formUpdate = $("#formUpdate");
      formUpdate.on("submit", async function (e) {
      e.preventDefault();
      
      const data = $(this)
      .serializeArray()
      .reduce((obj, field) => ({ ...obj, [field.name]: field.value }), {});
      //data.notes = notesAdd.val();
      //console.log(data);
      //validtaData(data);
      $.ajax({
            url: '/api/course',
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                alert("Cập nhật thông tin lớp học thành công")
            	window.location.href = "[[@{'/course'}]]";
            },
            error: function (error) {
                alert("Cập nhật thông tin lớp học thất bại");
            	window.location.href = "[[@{'/course'}]]";
            }
        });
      });
      
       // Event show delete student
     $('#deleteCourse').on('show.bs.modal', async function (event) {
        var button = $(event.relatedTarget);
        idCourseDelete = button.data('id');  
    })
    
    buttonDelete.addEventListener("click", function () {
             $.ajax({
            url: '/api/course/'+ idCourseDelete,
            type: 'DELETE',
            contentType: 'text/html',
            success: function () {
            	alert("Xóa khóa học có id = " + idCourseDelete  + " thành công");
            	window.location.href = "[[@{'/course'}]]";
            },
            error: function () {
            	alert("Xóa khóa học có id = " + idCourseDelete  + " thất bại");
            	window.location.href = "[[@{'/course'}]]";
                 	      }});
        })
        
        
         function handleClick(element) {
         var dataId = element.getAttribute('data-id');
         console.log(dataId); // Output: 123
         let idStudent = dataId.split("|")[0];
         let idCourse = dataId.split("|")[1];
         
             $.ajax({
            url: '/api/student-course/'+idCourse + '/' + idStudent,
            type: 'DELETE',
            contentType: 'text/html',
            success: function () {
            	alert("Xóa sinh viên khỏi lớp thành công");
            	renderlistStudentEroll(idCourse)
            },
            error: function () {
            	alert("Xóa sinh viên khỏi lớp thất bại");
            	 renderlistStudentEroll( idCourse)
            	}
            	})
        }
        function renderlistStudentEroll(idCourse)
        {
             $.get(`/api/students-from-course/${idCourse}`,  function (data) {
        
               var text = '';
           for(let i =0; i < data.length; i++)
           {
           text += `<tr>
                                <th scope="row">${data[i].id}</th>
                                <td>${data[i].name}</td>
                                <td>${data[i].birthday}</td>
                                <td>${data[i].address}</td>
                                <td>
                                    <a  class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                                        data-id="${data[i].id}|${idCourse}"  onclick="handleClick(this)">
                                        Xóa khỏi lớp
                                    </a>
                                </td>
                            </tr>`
            }
           // console.log(text)
            listStudentEroll.innerHTML = text;   
       
        }).fail(function () {
            alert("FAIL")
        }
        );
        }
        
        
        // Show student not in class
         function renderlistStudentNotInCourse(idCourse)
         {
             $.get(`/api/students-not-in-course/${idCourse}`,  function (data) {
        
               var text = '';
           for(let i =0; i < data.length; i++)
           {
           text += ` <tr>
                                <th scope="row">${data[i].id}</th>
                                <td>${data[i].name}</td>
                                <td>${data[i].birthday}</td>
                                <td>${data[i].address}</td>
                                <td>
                                    <input type="checkbox" value="${data[i].id}" name="student">
                                </td>
                            </tr>`
            }
            // console.log(text)
            lsStudentsNotInCourse.innerHTML = text;   
       
        }).fail(function () {
            alert("FAIL")
        }
        );
        }
        
        
     // Show list students
     $('#listStudent').on('show.bs.modal', async function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id')
        renderlistStudentEroll(id);
    })
    
    $('#insertStudent').on('show.bs.modal', async function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id')
        idCourseInsert = id;
        renderlistStudentNotInCourse(id);
    })
    
    buttonInsert.addEventListener("click", function () {
      var checkboxes = document.querySelectorAll('input[name="student"]:checked');
      var values = [];
      checkboxes.forEach(function(checkbox) {
        values.push(checkbox.value);
      });
      //console.log(values);
      data = { listID : values}
  
      $.ajax({
            url: '/api/insertion-students-in-course/' + idCourseInsert,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                alert("Thêm thành công")
                renderlistStudentNotInCourse(idCourseInsert);            	
            },
            error: function (error) {
            	alert("Thêm thất bại")
            	renderlistStudentNotInCourse(idCourseInsert);  
            }
        });
    })
</script>
</html>